BasedOnStyle: LLVM
UseTab: Never
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
