{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
